# Dependencies
/node_modules

# Build outputs
/dist
/.astro
/.vercel

# Supabase
/supabase/.branches
/supabase/.temp
/supabase/migrations/*_remote_schema.sql

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Gemini CLI configuration
/.gemini

# Cookies
cookies.txt
video-converter-service/cookies.txt

# PDFs financeiros (remover antes de publicar)
*.pdf

# Postman
api-tests/*.postman_environment.json

# Vercel build
.vercel/output
